.row {
	/*outline: 1px solid black;*/
	/*background: rgb(222, 222, 222);*/
	/*background: white;*/
	
	height: auto;
	


}


#navList{
		display: inline-block;
		width: auto;
		float:right;
		text-align: center;
		height: auto;
		margin-left: 0px;
		font-size: 20px;

		
		

		

}

#navList li {

		display: inline;
		float: left;
		list-style-type: none;
		padding: 7px;
		

}

#innerHeader{
		display:inline-block;
		margin: 0 auto;#3d0908
		
		

}
#logo{
		float: left;
		margin: 0 auto;
		display: inline-block;
		font-style: italic;
		font-size: 22px;
		
}



div#captioned-gallery {
		width: 100%;
		overflow: hidden;
		/*margin-bottom: 5px;*/
		
}
figure { margin: 0;
	}
figure.slider {
		position: relative;
		width: 500%;
		font-size: 0;
		animation: 10s slidy infinite; 
}
figure.slider figure { 
		width: 20%;
		height: auto;
		display: inline-block;
		position: inherit; 
}

figure.slider img {
		width: 100%;
		height: auto;
}
figure.slider figure figcaption {
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,0.3);
		color: #fff;
		width: 100%;
		font-size: 2rem;
		padding: .6rem;
}

@media screen and (max-width: 500px) { 
		figure.slider figure figcaption {
				font-size: 1.2rem;
		}
}


@keyframes slidy { 
		0%  { left: 0%; }
		20% { left: 0%; }
		25% { left: -100%; }
		45% { left: -100%; }
}

figure.slider figure figcaption {
		position: absolute;
		bottom: -3.5rem;
		background: rgba(0,0,0,0.3);
		color: #fff;
		width: 100%;
		font-size: 2rem;
		padding: .6rem;
		transition: .5s bottom; 
}
figure.slider figure:hover figcaption {
		bottom: 0;
}
figure.slider figure:hover + figure figcaption { 
		bottom: 0;
}

.widget{
		text-align: center;
		padding-top: 20px;
}

.icon {
	color: #ff7575;
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-image: url('http://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}


.navbar-text > a {
		color: inherit; 
		text-decoration: none;
		font-size: 14px;
		color: #007bb5;
		padding: 5px;
}


#navBar{

		text-align: center;
		font-size: 20px;

		
}

ul{
		list-style: none;

}






#copyright{
	
	font-style: bold;
	font-size: 15px;
	
}



#small-nav {
		display: none;
}

#small-nav a {
		display: block;
		background-color: rgb(222,222,222);
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		/*padding: 5px 0;*/
		text-decoration: none;
		color: black;
}

#icon{
				display: none;
		}


@media screen and (max-width: 900px ){

		#navList {
				display: none; 
		}

	  #icon-wrap { 
	  	text-align: right;

	  }

		#icon {
				display: inline-block;
				width: 50px;
			

		}
}

