.wrapper{
    width: 1883px;
    margin: auto 0;

}

#header{
    background-color: #d2d2d2;
    height: 100px;
    margin-bottom: 5px;
    
}


#innerHeader{
    display: block;
    margin: 0 auto;#3d0908
    width:100%;
    height: 100px;

}
#logo{
    float: left;
    width: 20%;
    margin: 0 auto;
    height: 100px;
    display: inline-block;
    font-style: italic;
    font-size: 22px;
    color: white;

}
#navList{
    display: inline-block;
    width: 70%;
    float:right;
    text-align: center;
    height: 100px;
    margin-left: 0px;
    font-size: 20px;

}

#navList li {

    display: inline;
    float: left;
    list-style-type: none;
    padding: 7px;

}




    



div#captioned-gallery {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
figure { margin: 0;
 }
figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 10s slidy infinite; 
}
figure.slider figure { 
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit; 
}

figure.slider img {
    width: 100%;
    height: auto;
}
figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}

@media screen and (max-width: 500px) { 
    figure.slider figure figcaption {
        font-size: 1.2rem;
    }
}


@keyframes slidy { 
    0%  { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    

   
     
}

figure.slider figure figcaption {
    position: absolute;
    bottom: -3.5rem;
    background: rgba(0,0,0,0.3);
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
    transition: .5s bottom; 
}
figure.slider figure:hover figcaption {
    bottom: 0;
}
figure.slider figure:hover + figure figcaption { 
    bottom: 0;
}

article {
    background-color: #d2d2d2;
    height: 400px;
    float: left;
    width: 622.66px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline;
}

.widget{
   text-align: center;

}
#text{
    text-align: center;
    display: inline-block;
}


footer {
    clear: both;
    background-color:#d2d2d2;
    height: 200px;
}



.navbar-text > a {
    color: inherit; 
    text-decoration: none;
}


#navBar{

    text-align: center;
    
}

ul{
    list-style: none;

}






#copyright{
  
  font-style: italic;
}



